@{
	if ( Session["emp_no"] == null || Session["emp_no"] == "" )
	{
		Html.RenderAction("Index", "Login");
	}
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
	<!--jquery-->
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/jquery")

	<!-- Core CSS - Include with every page -->
	@Styles.Render("~/custom/bootstrap-css")
	<link href="/font-awesome/css/font-awesome.css" rel="stylesheet">

	<!-- Page-Level Plugin CSS - Blank -->

	<!-- SB Admin CSS - Include with every page -->
	<link href="/css/sb-admin.css" rel="stylesheet" />

	<!-- Groupware JS -->
	@Scripts.Render("~/custom/common-js")


</head>
<body>

	<div id="wrapper">

		@{
			Html.RenderAction("Index", "Header");
			Html.RenderAction("Index", "Left");
		}
		
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">@ViewBag.Title</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
			@RenderBody()
		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->
	
	@RenderSection("scripts", required: false)


	<!-- Core Scripts - Include with every page -->
    @Scripts.Render("~/custom/bootstrap-js")
    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- Page-Level Plugin Scripts - Blank -->

    <!-- SB Admin Scripts - Include with every page -->
    <script src="/js/sb-admin.js"></script>

    <!-- Page-Level Demo Scripts - Blank - Use for reference -->

	

	<!-- Modal -->
	@*<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Launch Demo Modal
    </button>*@
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Modal title</h4>
				</div>
				<div class="modal-body"  id="myModalBody">
					
				</div>
				<div class="modal-footer">
					<button type="button" id="btn-modal-close" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" id="btn-modal-save" class="btn btn-primary">Save changes</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->

</body>
</html>
